<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/users.css">
</head>

<body class="bg-gray-100 min-h-screen font-sans antialiased">
  <%- include('nav') -%>
  <div id="main-content" class="space-y-12">

    <h2 class="text-2xl font-semibold text-gray-800">LOGS</h2>
      <!-- Logs Section -->
      <section id="logs" class="mb-12 w-full">
        <h2 class="text-xl font-bold mb-4 text-gray-800">Doctor Activity Logs</h2>
        <div class="bg-white rounded-lg shadow overflow-hidden w-full">
            <table class="data-table">
                <thead>
                    <tr>
                        <th class="text-left">Timestamp</th>
                        <!-- <th class="text-left">Doctor User</th> -->
                        <th class="text-left">Action</th>
                        <th class="text-left">Target Type</th>
                        <th class="text-left">Target ID</th>
                        <th class="text-left">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% logs.forEach(log => { %>
                        <tr>
                            <td><%= new Date(log.ActivityTimestamp).toLocaleString() %></td>
                            <!-- <td><%= log.Doctorname %></td> -->
                            <td><%= log.ActionPerformed %></td>
                            <td><%= log.TargetType %></td>
                            <td><%= log.TargetID %></td>
                            <td><%= log.Description %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>
    
  </div>

</main>
</div>

<script src="/javascripts/doctorHelp.js"></script>
</body>
</html>
